<a href="https://colab.research.google.com/github/BrunoMinetti/BootcampAluraDataScienceAplicada2021/blob/main/Ocean_Ci%C3%AAnciaDados_20210223.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ciência de Dados: Laboratório com Pandas e Python

Aluno: Bruno Cesar Minetti Sanches

HORÁRIO:das 13:30 às 16:30
CARGA HORÁRIA:3 horas

Conteúdo:

Trabalhando com Dados de forma visual:

- Acesso a dados

- Manipulação de dados;

- Limpeza de dados;

- Visualização de dados

Público Alvo: Estudantes, Profissionais, interessados em geral.
Pré-Requisitos: Acima de 18 anos.
Duração: 3 hora(s), das 13:30 às 16:30
Palestrante: Prof. Paulo Salvatore
Informações Adicionais: Horário de Brasília. Informações de acesso serão enviadas por e-mail.

In [5]:
import pandas as pd

In [6]:
# Lista

lista = [10, 20, 30, 40, 50]

print(lista)
print(type(lista))
print('O primeiro elemento da lista é: ', lista[0])

#Series - > lista

series_numerica = pd.Series(lista)

print(series_numerica)
print(type(series_numerica))
print("Primeiro elemento da series:", series_numerica[0])
print("Primeiro elemento:", type(series_numerica[0]))

[10, 20, 30, 40, 50]
<class 'list'>
O primeiro elemento da lista é:  10
0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
Primeiro elemento da series: 10
Primeiro elemento: <class 'numpy.int64'>

In [7]:
#Criando uma series com o mesmo valor várias vezes

pd.Series(9.7, range(10))

0    9.7
1    9.7
2    9.7
3    9.7
4    9.7
5    9.7
6    9.7
7    9.7
8    9.7
9    9.7
dtype: float64

In [8]:
# Quantos elementos temos na Series?

# Na lista:
print("Quantidade de elementos na Lista:", len(lista))

# Na Series:
print("Quantidade de elementos na Series:", series_numerica.count())

Quantidade de elementos na Lista: 5
Quantidade de elementos na Series: 5

In [9]:
# A grande vantagem das series é a utilização com fórmulas matemáticas e cálculos estatísticos

# Média
print("Média", series_numerica.mean())

# Mínimo
print("Mínimo", series_numerica.min())

# Máximo
print("Máximo", series_numerica.max())

# Desvio Padrão
print("Desvio Padrão", series_numerica.std())

print("\nSeries Describe\n")
series_numerica.describe()

Média 30.0
Mínimo 10
Máximo 50
Desvio Padrão 15.811388300841896

Series Describe

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [10]:
lista = [10, 20, 30]
lista_indices = ['1ª dezena', '2ª dezena', '3ª dezena']

lista_indices_nomeados = pd.Series(lista, lista_indices)

print(lista_indices_nomeados)

print(lista_indices_nomeados['1ª dezena'])

1ª dezena    10
2ª dezena    20
3ª dezena    30
dtype: int64
10

In [11]:
# DataFrame

# Representa uma matriz/dataset, que são tabelas (linhas e colunas)

# Um DataFrame possui várias Series dentro

# Criação de um Dicionário

dicionario = {
    'ESTADO': ['Amazonas', 'Amapá', 'Acre'],
    'SIGLA': ['AM', 'AP', 'AC'],
    'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']
}

print(dicionario)
print(type(dicionario))

dt = pd.DataFrame(dicionario)

print()

print(type(dt))
print(dt)

{'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'SIGLA': ['AM', 'AP', 'AC'], 'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']}
<class 'dict'>

<class 'pandas.core.frame.DataFrame'>
     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco

In [12]:
dt

     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco

In [13]:
print(dicionario['ESTADO'])
print(type(dicionario['ESTADO']))

['Amazonas', 'Amapá', 'Acre']
<class 'list'>

In [14]:
print(dt['ESTADO'])
print(type(dt['ESTADO']))

0    Amazonas
1       Amapá
2        Acre
Name: ESTADO, dtype: object
<class 'pandas.core.series.Series'>

In [15]:
print(dt['ESTADO'].describe())

count         3
unique        3
top       Amapá
freq          1
Name: ESTADO, dtype: object

In [16]:
dt.ESTADO

0    Amazonas
1       Amapá
2        Acre
Name: ESTADO, dtype: object

##Trabalhando com CSV

In [ ]:
import pandas as pd

In [17]:
url = 'https://raw.githubusercontent.com/paulosalvatore/Ocean_CienciaDados_23_02_2021/main/dados-curso.csv'

dt = pd.read_csv(url)

In [18]:
dt

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
2    2020-04-14 00:11:33  ...  38.747518
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
..                   ...  ...        ...
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[500 rows x 9 columns]